
*{
    interpolate-size: allow-keywords;
}
body{
    display: flex;
    padding: 4vw;
    flex-direction: column;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root{
    color-scheme: light dark;
    color: #2f2f2f;
}


@media (prefers-color-scheme: dark){
    body{
        color: #7d7d7d  ;
    }

    .container{
        
        background: linear-gradient(45deg, #3b3b3b, #171717);
        box-shadow:  40px -40px 59px #292828,
             -20px 40px 59px #232323;
        
    }
}

@media (prefers-color-scheme: light){
    body{   
        color: #2f2f2f;
    }
    .container{
        border-radius: 58px;
        background: #eeeeee;
        box-shadow:  35px -35px 70px #acacac,
             -35px 35px 70px #ffffff;
    }
}

.container {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 25vh; 
    overflow: hidden;
    box-sizing: border-box;
    transition: height ease 1s;
    border-radius: 23px;
}


.container-hero{
    display: flex;
    gap: 4vh;
    flex-wrap: wrap;
    justify-content: center;


}

.title{
    font-weight: 400;
}