:root{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Variables */
    --gris: #2f2f12;
    --azulejo:#EFF2F5;
    --gris-github:#57606A;
    --negro-github:#24292F;
    color: var(var(--negro-github));
}


body,html{
    margin: 0;
    padding: 0;
}

header{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #b2b2b2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}




.navbar-list{
    flex-direction: row;
    display: flex;
    list-style: none;
    gap: 3vw;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    color: var(--gris);
    transition: border-bottom 2s;
}



.navbar-list li:hover{
    background-color: rgb(213, 232, 249);
    border-bottom: 2px solid rgb(0, 89, 255);
    transition: all ease 1s;
}


.button{
    background-color: var(--azulejo);
    width: fit-content;
    border: 1px solid #8599ad ;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    color:#1F2328;
    font-weight: 600;
}



::selection{
    background-color: var(--gris-github);
    color: #ffff;
}


.students:hover{
    transition:  after ease 5s ;
}
.students:hover::after{
    content: "Boxx \n Ttot";
    transform: translate(1px,1px);
    position:absolute;
    padding: 20px;
    background-color: #ffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}








