:root{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Variables */
    --gris: #2f2f12;
    --azulejo:#EFF2F5;
    --azulejo-gris:#dbe7f3;
    --gris-github:#57606A;
    --negro-github:#24292F;
    color: var(var(--negro-github));
}


body,html{
    margin: 0;
    padding: 0;
}

header{
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #e6e4e4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}






.burger{    
    width: 20px;
    height: 20px;
    display: flex;
    gap: 1px;
    display: flex;
    flex-direction: row;
}



.button{
    background-color: var(--azulejo);
    width: fit-content;
    border: 1px solid #8599ad ;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    color:#1F2328;
    font-weight: 600;
}

.button:active{
    border-radius: 4px;
    border: 1px solid #7499bd;
}

.button:hover{
    background-color: var(--azulejo-gris);
}


::selection{
    background-color: var(--gris-github);
    color: #ffff;
}


.navbar-list{
    flex-direction: row;
    display: flex;
    list-style: none;
    gap: 3vw;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    color: var(--gris);
    transition: border-bottom 2s;
    box-sizing: border-box;
}


.item{
    flex: 2 1 auto;
    width: max-content;
    transition: transform 500ms ease;
    padding: 5px;
   
}




.item:hover{
    background-color: #cedbeb;
    transform: scale(1.1);
    padding: 5px;
    border-radius: 4px;
}



@media(width <= 350px){

    
    header{
        display: flex;
        justify-content: space-between; 
        
    }

    .navbar-list{
        display: none;
    }
}

.esconder{
    display: none;
}



