body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: monospace

    
}

:root{
    color-scheme: dark;
}

.container{
    display: flex;  
    flex-direction: column;
    margin: 10vh 5vh 10vh 5vh;
    font-size:2em;
}

.container > h1{
    width: 20;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    /* Cambiar los pasos por el numero de letras en el parrafo */
    animation: deletreo 4s steps(43) forwards infinite,
    blink 1s step-end infinite;
    
}




@keyframes deletreo{
    0%{
        width: 0;
        
    }

    75%{
        width: 50%;
    }
    99%{
        width: 100%;
    }
    100%{
        width: 0;
    }
}


@keyframes blink{
    50%{
        border-color: transparent;
    }
}
